[submodule "retrieval-service"]
	path = retrieval-service
	url = https://github.com/mborhi/retrieval-service
[submodule "playback-service"]
	path = playback-service
	url = https://github.com/mborhi/playback-service
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:mborhi/api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:mborhi/auth-service.git
[submodule "spotify-quick-discover-frontend"]
	path = spotify-quick-discover-frontend
	url = git@github.com:mborhi/spotify-quick-discover-frontend.git
