[submodule "retrieval-service"]
	path = retrieval-service
	url = https://github.com/mborhi/retrieval-service
[submodule "playback-service"]
	path = playback-service
	url = https://github.com/mborhi/playback-service
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:mborhi/api-gateway.git
